<!DOCTYPE html>
<html>
<head>
<title>
Score
</title>
<style>
    table, th, td {
      border:0px solid black;
      text-align: left;
    }
    
.centerv {
  text-align: center;
  color: rgb(153, 41, 41);
}
.center {
  text-align: left;
}
h1 {
  font-size: 40px;
  text-align: left;
}
h2 {
  font-size: 30px;
  color: green;
  text-align: left;
}
.centert {
  margin-left: auto;
  margin-right: auto;
}

</style>
</head>
<body >  


<h1>Closest matching concepts</h1>
<form name ="map" action="." method ="post">
  
    <h2>{{term}} - Score : {{score}}</h2>
    
    </form>

</body>
</html>